<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		{% stylesheets 'bundles/babystat/css/*' filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('css/pickadate/default.css') }}">
			<link rel="stylesheet" href="{{ asset('css/pickadate/default.date.css') }}">
			<link rel="stylesheet" href="{{ asset('css/chosen.min.css') }}">
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

		<title>{% block title %}BabyLO{% endblock %}</title>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ path('babystat_accueil') }}">BabyLO</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li {% if app.request.attributes.get('_route') ==  'babystat_accueil' %} class="active" {% endif %} ><a href="{{ path('babystat_accueil') }}"><i class="glyphicon glyphicon-home"></i>Home</a></li>
						<li {% if app.request.attributes.get('_route') ==  'babystat_partie' %} class="active" {% endif %}><a href="{{ path('babystat_partie') }}"><i class="glyphicon glyphicon-star"></i>Parties</a></li>
						<li {% if app.request.attributes.get('_route') ==  'babystat_joueur' %} class="active" {% endif %}><a href="{{ path('babystat_joueur') }}"><i class="glyphicon glyphicon-user"></i>Joueurs</a></li>
						<li {% if app.request.attributes.get('_route') ==  'babystat_matchmaker' %} class="active" {% endif %}><a href="{{ path('babystat_matchmaker') }}"><i class="glyphicon glyphicon-cog"></i>Match Maker</a></li>
					</ul>

					{% if app.user != null %}
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Bonjour {{ app.user.username | capitalize }} <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{{ path('babystat_pagejoueur') }}"><i class="glyphicon glyphicon-stats"></i>Statistiques</a></li>
									{% if is_granted('ROLE_ADMIN') %}
										<li><a href="{{ path('babystat_ajoutpartie') }}"><i class="glyphicon glyphicon-plus"></i>Ajouter une partie</a></li>
									{% endif %}
									{% if is_granted('ROLE_SUPER_ADMIN') %}
										<li><a href="{{ path('babystat_useradmin') }}"><i class="glyphicon glyphicon-list"></i>Gestion des utilisateurs</a></li>
									{% endif %}
									<li><a href="{{ path('logout') }}"><i class="glyphicon glyphicon-log-out"></i>Logout</a></li>
								</ul>
							</li>
						</ul>
					{% else %}
						<form class="navbar-form navbar-right" id="formloginnav" method="POST" action="{{ path('login_check') }}">
							<div class="form-group">
								<input type="text" placeholder="Login" class="form-control" id="username" name="_username">
							</div><div class="form-group">
								<input type="password" placeholder="Password" class="form-control" id="password" name="_password">
							</div><div class="form-group">
								<button type="submit" class="btn btn-success btn-sm">Sign in</button>
							</div>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="jumbotron" id="main-container">
			<div class="container">
			{% block body %}
			{% endblock %}
			</div>
		</div>

		{% javascripts '@BabyStatBundle/Resources/public/js/*' %}
			<script type="text/javascript" src="{{ asset('js/vendor/jquery-1.10.1.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/vendor/highcharts.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/vendor/picker.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/vendor/picker.date.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/vendor/chosen.jquery.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<div class="container" id="footercontainer">
			<footer>
				<p>&copy; Copy-raiiiight LO 3014</p>
			</footer>
		</div>
	</body>
</html>