{% extends "BabyStatBundle:Stat:layout.html.twig" %}

{% block title %}{{ parent() }} - Joueurs{% endblock %}

{% block body %}
	<h3>Joueurs</h3>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
			<h4>Classement par ratio</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Nom</th>
						<th>Victoires</th>
						<th>Défaites</th>
						<th class="text-primary">Ratio</th>
					</tr>
				</thead>
				<tbody>
					{% for player in players.ratio %}
						<tr>
							<td>{{ loop.index }}</td>
							<td class="player" data-id="{{player.id}}"><a href="#morestat">{{ player.name }}</a></td>
							<td class="success">{{ player.victoires }}</td>
							<td class="danger">{{ player.defaites }}</td>
							<td><strong>{{ player.ratio }}</strong></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
			<h4>Classement par victoires</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Nom</th>
						<th class="text-primary">Victoires</th>
						<th>Défaites</th>
						<th>Ratio</th>
					</tr>
				</thead>
				<tbody>
					{% for player in players.victoires %}
						<tr>
							<td>{{ loop.index }}</td>
							<td class="player" data-id="{{player.id}}"><a href="#morestat">{{ player.name }}</a></td>
							<td class="success"><strong>{{ player.victoires }}</strong></td>
							<td class="danger">{{ player.defaites }}</td>
							<td>{{ player.ratio }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
			<h4>Classement par defaites</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Nom</th>
						<th>Victoires</th>
						<th class="text-primary">Défaites</th>
						<th>Ratio</th>
					</tr>
				</thead>
				<tbody>
					{% for player in players.defaites %}
						<tr>
							<td>{{ loop.index }}</td>
							<td class="player" data-id="{{player.id}}"><a href="#morestat">{{ player.name }}</a></td>
							<td class="success">{{ player.victoires }}</td>
							<td class="danger"><strong>{{ player.defaites }}</strong></td>
							<td>{{ player.ratio }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" id="morestat">
		<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
			<h5><i>Cliquer sur le nom d'un joueur pour afficher ses statistiques</i></h5>
		</div>
		<div class="col-md-4 col-xs-12 col-lg-4 col-sm-12">
			<table class="table table-striped hide" id="playerstatstable">
				<tr>
					<td>Position favorite</td>
					<td id="stat-position"></td>
				</tr>
				<tr>
					<td>Nombre de parties jouées</td>
					<td id="stat-nbGames"></td>
				</tr>
				<tr>
					<td>Nombre de parties gagnées</td>
					<td id="stat-nbWin"></td>
				</tr>
				<tr>
					<td>Nombre de parties perdues</td>
					<td id="stat-nbLose"></td>
				</tr>
				<tr>
					<td>Ratio</td>
					<td id="stat-ratio"></td>
				</tr>
				<tr>
					<td>Nombre de parties perdues fanny</td>
					<td id="stat-nbWinFanny"></td>
				</tr>
				<tr>
					<td>Nombre de parties gagnées fanny</td>
					<td id="stat-nbLoseFanny"></td>
				</tr>
				<tr>
					<td>Nombre de buts marqués</td>
					<td id="stat-nbButScored"></td>
				</tr>
				<tr>
					<td>Nombre de buts pris</td>
					<td id="stat-nbButTaken"></td>
				</tr>
				<tr>
					<td>Pire ennemi</td>
					<td id="stat-bestOponent"></td>
				</tr>
				<tr>
					<td>Moins bon adversaire</td>
					<td id="stat-worstOponent"></td>
				</tr>
				<tr>
					<td>Meilleur partenaire</td>
					<td id="stat-bestMate"></td>
				</tr>
				<tr>
					<td>Pire partenaire</td>
					<td id="stat-worstMate"></td>
				</tr>
			</table>
		</div>
		<div class="col-md-7 col-xs-12 col-lg-7 col-sm-12">
			<div id="chart1" style="width:100%; height:400;"></div>
		</div>
	</div>
{% endblock %}