{% extends "BabyStatBundle:Stat:layout.html.twig" %}

{% block title %}{{ parent() }} - Statistiques perso{% endblock %}

{% block body %}
	<h3>Statistiques</h3>

	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
			<table class="table" id="playerstatstable">
				<tr>
					<td>Nombre de parties jouées</td>
					<td>{{ stat.nbGames }}</td>
				</tr>
				<tr>
					<td>Nombre de parties gagnées</td>
					<td>{{ stat.nbWin }}</td>
				</tr>
				<tr>
					<td>Nombre de parties perdues</td>
					<td>{{ stat.nbLose }}</td>
				</tr>
				<tr>
					<td>Ratio</td>
					<td>{{ stat.nbWin / (stat.nbGames) }}</td>
				</tr>
				<tr>
					<td>Nombre de parties perdues fanny</td>
					<td>{{ stat.nbWinFanny }}</td>
				</tr>
				<tr>
					<td>Nombre de parties gagnées fanny</td>
					<td>{{ stat.nbLoseFanny }}</td>
				</tr>
				<tr>
					<td>Nombre de buts marqués</td>
					<td>{{ stat.nbButScored }}</td>
				</tr>
				<tr>
					<td>Nombre de buts pris</td>
					<td>{{ stat.nbButTaken }}</td>
				</tr>
				<tr>
					<td>Pire ennemi</td>
					<td>{{ stat.bestOponent }}</td>
				</tr>
				<tr>
					<td>Moins bon adversaire</td>
					<td>{{ stat.worstOponent }}</td>
				</tr>
				<tr>
					<td>Meilleur partenaire</td>
					<td>{{ stat.bestMate }}</td>
				</tr>
				<tr>
					<td>Pire partenaire</td>
					<td>{{ stat.worstMate }}</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			ici les graphes
		</div>
	</div>
{% endblock %}