{% extends "BabyStatBundle:Stat:layout.html.twig" %}

{% block title %}{{ parent() }} - Gestion des utilisateurs{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<h3>Utilisateurs</h3>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<table class="table table-hover" id="userTable">
				<thead>
					<tr>
						<th>Utilisateur</th>
						<th>Position</th>
						<th>Roles</th>
						<th>Actif</th>
						<th>Enregistrer</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr>
						<td>{{ user.username }}</td>
						<td>
							<select name="position" class="select">
								<option value="Avant" {% if user.position == 'Avant' %} selected="selected" {% endif %}>Avant</option>
								<option value="Arriere" {% if user.position == 'Arriere' %} selected="selected" {% endif %}>Arriere</option>
							</select>
						</td>
						<td>
							<select class="role-selector input-lg" name="roles" multiple="multiple">
							{% for role in roles %}
								<option value="{{ role.id }}" {% if role in user.role %} selected="selected" {% endif %}>{{ role.name }}</option>
							{% endfor %}
							</select>
						</td>
						<td><input type="checkbox" name="enabled" {% if user.enabled == 1 %}checked="checked"{%endif%} /></td>
						<td><button class="btn btn-success btn-sm save-user" data-id="{{ user.id }}">Enregistrer</button></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<h4>Créer un nouvel utilisateur</h4>
			<form role="form" id="newUser">
				<div class="form-group">
					<label for="useruser">Nom d'utilisateur</label>
					<input type="text" class="form-control" id="useruser" autocomplete="off" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="userpass">Mot de passe</label>
					<input type="password" class="form-control" id="userpass" autocomplete="off" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="userrole">Roles</label>
					<select class="role-selector form-control" name="roles" id="userrole" multiple="multiple">
					{% for role in roles %}
						<option value="{{ role.id }}">{{ role.name }}</option>
					{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="userposition">Position</label>
					<select class="form-control" name="position" id="userposition">
						<option value="Avant">Avant</option>
						<option value="Arriere">Arrière</option>
					</select>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="enabled" id="userenabled"> Actif
					</label>
				</div>
				<button type="submit" class="btn btn-primary btn-sm">Enregistrer</button>
			</form>
			<br />
			<span class="hidden" id="user-msg"></span>
		</div>
	</div>
</div>
{% endblock %}